body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-container {
    font-size: 10rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.text-left, .text-right {
    display: inline-block;
    transition: transform 0.3s ease;
}

.text-left {
    margin-right: -10px;
}

.text-right {
    margin-left: -10px;
}

.text-left:hover, .text-right:hover {
    transform: scale(1.1);
}

.text-middle {
    display: inline-block;
    transition: transform 0.3s ease;
}

.text-middle:hover {
    transform: scale(1.1);
}

.logo {
    width: 100px;
    height: auto;
}

small {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.arc {
    margin-right: 10px;
    transform: translateY(0);
    overflow: hidden;
}

.diz {
    margin-left: 10px;
    transform: translateY(0);
    overflow: hidden;
}
