body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #fdefef;
}

header {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
    background: transparent;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15rem;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
}

.arc-container {
    position: relative;
    overflow: hidden;
    width: 20rem;
    margin-left: 10rem;
    padding-left: 10rem;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid black;
}

.arc {
    transform: translateY(0) translateX(-3rem);
    position: relative;
    border: 1px solid black;
}

.arc span, .diz span {
    display: inline-block;
    transition: transform 0.5s ease;
}

.arc:hover span {
    transform: translateX(-20px);
}

.arc:hover small {
    transform: translateX(-20px);
}

.diz-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 30rem;
    margin-left: 10rem;
    padding-right: 0rem;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid black;
}

.diz {
    transform: translateY(0) translateX(1rem);
    position: relative;
    border: 1px solid black;
}

.diz:hover span {
    transform: translateX(20px);
}

.diz:hover small {
    transform: translateX(20px);
}

small {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 10px;
    opacity: 0.8;
    transition: transform 0.5s ease;
}

.text-left, .text-right {
    display: inline-block;
    transition: transform 0.3s ease;
}

.text-left {
    margin-right: -10px;
}

.text-right {
    margin-left: -10px;
}

.text-left:hover, .text-right:hover {
    transform: scale(1.1);
}

.text-middle {
    display: inline-block;
    transition: transform 0.3s ease;
}

.text-middle:hover {
    transform: scale(1.1);
}

.logo {
    width: 200px;
    height: auto;
}

.horizontal-line {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: black;
    z-index: 1;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
